body {
  background: #000;
  margin: 0 auto;
}
.mossing{
  max-width: 1200px;
  margin: 0 auto;
  background: #000;
  margin: 0 auto;
}
html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
section, section a, section a:visited {
  color: #fff
}
section a:hover {
  color: #3CB371;
}
.moss {
  margin-top:45px;
  text-align:center;
}
.moss p {
  font-family: 'Cousine', monospace;
  font-size: 1.8em;
}

.moss .me {
  font-family: 'Nothing You Could Do', cursive;
  color: #c8a2c8;
  font-size: 4em;
  text-decoration: none;
  padding: 0.5em 0.5em 0;
  text-align: center;
}

.moss .linkz a:hover {
  color: #a464a4;
}

.moss .play a {
  font-family: 'Nothing You Could Do', cursive;
  color: #3CB371;
  font-size: 2em;
  text-decoration: none;
}

.moss .play a:hover {
  color: #000000;
}

.moss .play {
  padding: 2em 0;
  text-align: center;
}
.moss-title {
  max-width: 550px;
}
@media (max-width: 575px) {
  header, section {
    margin: 0 0.5em;
  }
  img {
    width: 100%;
  }
  .container {
    max-width: 575px;
    margin: 0 0.5em;
  }
  .moss p {
    font-size: 5vw;
  }
}
